<footer class="">
  <div class="footer row d-flex justify-content-center align-items-center">

    <div class="col-md-2 offset-1">
      <h2>Informacion</h2>
      <hr width="100%">
      <br>
      <span>Horarios de Atencion</span><br>
      <span>Formas de Pago</span><br>
      <span><a [routerLink]="['about']" routerLinkAcive="active">About us</a></span>
    </div>

    <div class="col-md-2 offset-1">
      <h2>Mi cuenta</h2>
      <hr width="100%">
      <br>
      <span><a [routerLink]="['login']" routerLinkActive="active">Mi cuenta</a></span><br>
      <span><a [routerLink]="['cart']" routerLinkActive="active">Mi carrito</a></span><br>
      <span><a [routerLink]="['registro']" routerLinkActive="active">Registrarse</a></span><br>
    </div>

    <div class="col-md-3 offset-1">
      <h2>Contáctanos</h2>
      <hr width="100%">
      <br>
      <span><i class="fas fa-map-marker-alt color"></i> Leandro N. Alem 863</span><br>
      <span><i class="fas fa-phone color"></i> +54 (388) 4713223 </span><br>
      <span><i class="far fa-envelope color"></i> info@jujuycalulares.com</span>
    </div>
  </div>
  <br><br>
  <div class="container text-center">
      <p class="">© 2019 – Facundo Alavar &nbsp; | &nbsp; FullStack Web Developer</p>
  </div>
</footer>