<div class="marcas py-5">
  <div class="container">
    <div class="text-center">
      <h2>Nuestras Marcas</h2>
      <hr width="10%">
    </div>
    <div class="row">
      <div class="col-4 col-sm-2">
        <div class="card border-light">
          <img src="assets/img/logoLg.png" class="card-img-top" alt="">
        </div>
      </div>
      <div class="col-4 col-sm-2">
        <div class="card border-light">
          <img src="assets/img/logoMotorola.png" class="card-img-top" alt="">
        </div>
      </div>
      <div class="col-4 col-sm-2">
        <div class="card border-light">
          <img src="assets/img/logoSamsung.png" class="card-img-top" alt="">
        </div>
      </div>
      <div class="col-4 col-sm-2">
        <div class="card border-light">
          <img src="assets/img/logoHuawei.png" class="card-img-top" alt="">
        </div>
      </div>
      <div class="col-4 col-sm-2">
        <div class="card border-light">
          <img src="assets/img/logoXiaomi.png" class="card-img-top" alt="">
        </div>
      </div>
      <div class="col-4 col-sm-2">
        <div class="card border-light">
          <img src="assets/img/logoMotorola.png" class="card-img-top" alt="">
        </div>
      </div>
    </div>
  </div>
</div>