.marcas{
    margin-top: 20px;
    margin-bottom: 0px;
    background: #FFF;
    padding-top: 50px;
    padding-bottom: 50px; 
    font-family: 'PT Sans Narrow', sans-serif;
}

.marca{
    margin-bottom: 10px;
}